<div th:fragment="studentFooter">
    <div style="min-height: 10vh; background: #e9ecef; color: #444;" class="d-flex align-items-center justify-content-center">
        <div class="w-100 text-center">

            <div class="row">
                <div class="col text-center">
                    <small>06134 서울 강남구 테헤란로7길 7 에스코빌딩 5~7층(중앙정보처리학원) T.02-561-1911</small>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <small>© 2025 대학교. All rights reserved.</small>
                </div>
            </div>

        </div>
    </div>
</div>
