<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choongang.univ.portal.auth.mapper.MemberAuthSqlMapper">
    <select id="findExRelationDtoForLogin">
        select *
        from ex_relation
        where account_name = #{accountName} and password = #{password};
    </select>

    <select id="findAdminDtoByAdminId">
        select *
        from administrator
        where admin_id = #{adminId};
    </select>
</mapper>